<h1>Mi cuenta es: <%= @suma %> </h1>
<form>
	<input type="hidden" name="suma" value="<%= @suma %>">
	<input type="submit" value="Suma!!">
</form>

<%# El metodo GET viene por defecto en los formulario y la ruta es la misma, es decir, el origen de ese metodo get, si hay mas de un get, debes especificar la ruta  %>